@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.btn {
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  border: none;
  line-height: 1.185rem;
  padding-inline: 3.93375rem;
  padding-block: 0.8125rem;
}

.btn-primary {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 90%, 59%);
  border-radius: 3.125rem;
}

.btn-outline {
  color: hsl(0deg, 90%, 59%);
  background-color: transparent;
  border: 2px solid hsl(0deg, 90%, 59%);
  border-radius: 3.125rem;
}

.btn-rectangle {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 90%, 59%);
  padding-inline: 4.84375rem;
  padding-block: 1.09375rem;
  border-radius: 0.625rem;
}

.text-center {
  text-align: center;
}

.lead {
  color: hsl(221deg, 12%, 35%);
  margin-top: 1.25rem;
}

.bold {
  font-weight: 500;
}

.m-heading {
  font-size: 2.1875rem;
  line-height: 3.125rem;
}

.checklist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  color: hsl(221deg, 12%, 35%);
  font-size: 0.875rem;
}
.checklist :not(last-child) {
  margin-bottom: 0.9375rem;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border: 2px solid hsl(0deg, 0%, 87%);
  border-radius: 10px;
}

.card-active {
  border-color: hsl(0deg, 90%, 59%);
}

body {
  font-family: "Rubik", sans-serif;
  color: hsl(225deg, 58%, 10%);
  font-weight: 400;
  line-height: 1.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.navbar {
  padding-block: 2.8125rem;
  line-height: 1.185rem;
}
.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-container .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  color: hsl(221deg, 12%, 35%);
}
.navbar .navbar-container .signin {
  font-weight: 500;
}
.navbar .navbar-container .signup {
  padding-inline: 2.8125rem;
  border-width: 1px;
  margin-left: 1.875rem;
}

.hero {
  margin-top: 2.625rem;
}
.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 2.5rem;
}
.hero-container .hero-text .hero-heading {
  font-size: 3.125rem;
  line-height: 4.375rem;
  margin-bottom: 1.25rem;
}
.hero-container .hero-text .hero-heading .bold {
  font-weight: 700;
}
.hero-container .hero-text .lead {
  margin-bottom: 3.125rem;
}

.stats {
  margin-top: 6.4375rem;
}
.stats-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  border-radius: 0.625rem;
}
.stats-container .stat {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.28125rem;
  padding-block: 2.3125rem;
}
.stats-container .stat:nth-child(2) {
  border-left: 2px solid hsl(225deg, 13%, 94%);
  border-right: 2px solid hsl(225deg, 13%, 94%);
}
.stats-container .stat .stat-text .stat-num {
  font-weight: 700;
  font-size: 1.5625rem;
  margin-bottom: 0.3125rem;
}
.stats-container .stat .stat-text .stat-text {
  font-size: 1.25rem;
  color: hsl(221deg, 12%, 35%);
}

.features {
  margin-top: 6.75rem;
}
.features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 3rem;
}
.features-container .features-img {
  padding: 2.25rem;
}
.features-container .features-text {
  max-width: 57ch;
  justify-self: end;
}
.features-container .features-text .m-heading {
  max-width: 16ch;
}
.features-container .features-text .lead {
  margin-bottom: 1.25rem;
}

.gradient-wrapper {
  background: linear-gradient(0deg, hsla(0deg, 0%, 97%, 0) 0%, hsl(0deg, 0%, 97%) 100%);
}

.plans {
  padding-block: 5rem;
}
.plans .plan-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  grid-gap: 3.125rem;
  margin-top: 3.75rem;
}
.plans .plan-items .plan {
  height: 47.5rem;
  width: 100%;
  padding: 3.125rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.plans .plan-items .plan .plan-img {
  margin-block: 1.875rem;
}
.plans .plan-items .plan .plan-heading {
  font-size: 1.125rem;
  margin-bottom: 1.875rem;
}
.plans .plan-items .plan .checklist {
  gap: 1.5625rem;
}
.plans .plan-items .plan .checklist :not(last-child) {
  margin-bottom: 0.625rem;
}
.plans .plan-items .plan .plan-bottom {
  margin-top: auto;
}
.plans .plan-items .plan .plan-bottom .price {
  font-size: 1.5625rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}
.plans .plan-items .plan .plan-bottom .price .month {
  font-weight: 400;
}

.network .globe {
  margin-inline: auto;
  margin-top: 9.75rem;
}

.sponsors {
  margin-top: 6.875rem;
}
.sponsors-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials {
  margin-top: 7.75rem;
  overflow-x: hidden;
}
.testimonials .testimonial-cards {
  margin-top: 3.75rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25rem;
  grid-gap: 3.125rem;
}
.testimonials .testimonial-cards .testimonial {
  padding: 1.875rem;
}
.testimonials .testimonial-cards .testimonial .testimonial-head {
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}
.testimonials .testimonial-cards .testimonial .testimonial-head .name {
  font-size: 1.125rem;
  font-weight: 500;
}
.testimonials .testimonial-cards .testimonial .testimonial-head .location {
  font-size: 0.875rem;
  color: hsl(221deg, 12%, 35%);
}
.testimonials .testimonial-cards .testimonial .testimonial-head .rating {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6875rem;
}
.testimonials .slider-controls {
  margin-top: 3.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials .slider-controls .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}
.testimonials .slider-controls .slider .circle {
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: hsl(0deg, 0%, 87%);
  border-radius: 50%;
}
.testimonials .slider-controls .slider .circle-active {
  width: 1.875rem;
  border-radius: 1rem;
  background-color: hsl(0deg, 90%, 59%);
}
.testimonials .slider-controls .slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 1.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.testimonials .slider-controls .slider-btn:first-child {
  margin-right: 1.25rem;
}

.subscribe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.65625rem 4.375rem;
  background-color: hsl(0deg, 0%, 100%);
  transform: translateY(50%);
}
.subscribe-container .subscribe-text .m-heading {
  max-width: 16ch;
}

.footer {
  background-color: hsl(0deg, 0%, 97%);
  padding-block: 6.25rem;
}
.footer-container {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: flex-start;
  justify-items: flex-end;
  grid-gap: 3rem;
}
.footer-container *:first-child {
  justify-self: flex-start;
}
.footer-container .sns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  margin-block: 1.875rem;
}
.footer-container .sns .sns-link {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  background-color: hsl(0deg, 0%, 100%);
  width: 2.1rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.footer-container .sns .sns-link i {
  color: hsl(0deg, 90%, 59%);
}
.footer-container .copyright {
  color: hsl(219deg, 12%, 72%);
}
.footer-container .footer-heading {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}
.footer-container .footer-list-item {
  color: hsl(221deg, 12%, 35%);
}
.footer-container .footer-list :not(last-child) {
  margin-bottom: 0.625rem;
}/*# sourceMappingURL=main.css.map */