body {
	font-family: $ff;
	color: $clr-primary;
	font-weight: $fw-400;
	line-height: 1.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $fw-500;
}

// Navbar
.navbar {
	padding-block: 2.8125rem;
	line-height: 1.185rem;

	.navbar-container {
		@include flex($justify: space-between);

		.nav-menu {
			@include flex;
			gap: 2.5rem;
			color: $clr-neutral-300;
		}

		.signin {
			font-weight: $fw-500;
		}

		.signup {
			padding-inline: 2.8125rem;
			border-width: 1px;
			margin-left: 1.875rem;
		}
	}
}

// Hero
.hero {
	margin-top: 2.625rem;

	&-container {
		@include grid(2);
		grid-gap: 2.5rem;

		.hero-text {
			.hero-heading {
				font-size: 3.125rem;
				line-height: 4.375rem;
				margin-bottom: 1.25rem;

				.bold {
					font-weight: $fw-700;
				}
			}

			.lead {
				margin-bottom: 3.125rem;
			}
		}
	}
}

// Stats
.stats {
	margin-top: 6.4375rem;

	&-container {
		@include grid(3);
		border-radius: 0.625rem;

		.stat {
			width: 100%;
			@include flex;
			gap: 2.28125rem;
			padding-block: 2.3125rem;

			&:nth-child(2) {
				border-left: 2px solid hsl(225, 13%, 94%);
				border-right: 2px solid hsl(225, 13%, 94%);
			}

			.stat-text {
				.stat-num {
					font-weight: $fw-700;
					font-size: 1.5625rem;
					margin-bottom: 0.3125rem;
				}

				.stat-text {
					font-size: 1.25rem;
					color: $clr-neutral-300;
				}
			}
		}
	}
}

// Features
.features {
	margin-top: 6.75rem;

	&-container {
		@include grid(2);
		grid-gap: 3rem;

		.features-img {
			padding: 2.25rem;
		}

		.features-text {
			max-width: 57ch;
			justify-self: end;

			.m-heading {
				max-width: 16ch;
			}

			.lead {
				margin-bottom: 1.25rem;
			}
		}
	}
}

.gradient-wrapper {
	background: linear-gradient(
		0deg,
		hsla(0, 0%, 97%, 0) 0%,
		$clr-neutral-900 100%
	);
}

// Plans
.plans {
	padding-block: 5rem;

	.plan-items {
		@include grid(3, $align: start);
		grid-gap: 3.125rem;
		margin-top: 3.75rem;

		.plan {
			height: 47.5rem;
			width: 100%;
			padding: 3.125rem;
			@include flex($justify: flex-start);
			flex-direction: column;

			.plan-img {
				margin-block: 1.875rem;
			}

			.plan-heading {
				font-size: 1.125rem;
				margin-bottom: 1.875rem;
			}

			.checklist {
				gap: 1.5625rem;

				:not(last-child) {
					margin-bottom: 0.625rem;
				}
			}

			.plan-bottom {
				margin-top: auto;

				.price {
					font-size: 1.5625rem;
					font-weight: $fw-500;
					margin-bottom: 1.25rem;

					.month {
						font-weight: $fw-400;
					}
				}
			}
		}
	}
}

// Network
.network {
	.globe {
		margin-inline: auto;
		margin-top: 9.75rem;
	}
}

// Sponsors
.sponsors {
	margin-top: 6.875rem;

	&-container {
		@include flex($justify: space-between);
	}
}

// Testimonials
.testimonials {
	margin-block: 7.75rem;
	overflow-x: hidden;

	.testimonial-cards {
		margin-top: 3.75rem;
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 25rem;
		grid-gap: 3.125rem;

		.testimonial {
			padding: 1.875rem;

			.testimonial-head {
				margin-bottom: 1.25rem;
				@include flex($justify: flex-start);
				gap: 1.25rem;

				.name {
					font-size: 1.125rem;
					font-weight: $fw-500;
				}

				.location {
					font-size: 0.875rem;
					color: $clr-neutral-300;
				}

				.rating {
					margin-left: auto;
					@include flex;
					gap: 0.6875rem;
				}
			}
		}
	}

	.slider-controls {
		margin-top: 3.75rem;
		@include flex($justify: space-between);

		.slider {
			@include flex;
			gap: 0.9375rem;

			.circle {
				width: 0.9375rem;
				height: 0.9375rem;
				background-color: $clr-neutral-800;
				border-radius: 50%;
			}

			.circle-active {
				width: 1.875rem;
				border-radius: 1rem;
			}
		}

		.slider-btn {
			@include flex;
			display: inline-flex;
			padding: 1.25rem;
			aspect-ratio: 1;
			border-radius: 50%;

			&:first-child {
				margin-right: 1.25rem;
			}
		}
	}
}
