body {
	font-family: $ff;
	color: $clr-primary;
	font-weight: $fw-400;
	line-height: 1.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $fw-500;
}

// Navbar
.navbar {
	padding-block: 2.8125rem;
	line-height: 1.185rem;

	.navbar-container {
		@include flex($justify: space-between);

		.nav-menu {
			@include flex;
			gap: 2.5rem;
			color: $clr-neutral-300;
		}

		.signin {
			font-weight: $fw-500;
		}

		.signup {
			padding-inline: 2.8125rem;
			border-width: 1px;
			margin-left: 1.875rem;
		}
	}
}

// Hero
.hero {
	margin-top: 2.625rem;

	&-container {
		@include grid(2);
		grid-gap: 2.5rem;

		.hero-text {
			.hero-heading {
				font-size: 3.125rem;
				line-height: 4.375rem;
				margin-bottom: 1.25rem;

				.bold {
					font-weight: $fw-700;
				}
			}

			.lead {
				margin-bottom: 3.125rem;
			}
		}
	}
}

// Stats
.stats {
	margin-top: 6.4375rem;

	&-container {
		@include grid(3);
		border-radius: 0.625rem;

		.stat {
			width: 100%;
			@include flex;
			gap: 2.28125rem;
			padding-block: 2.3125rem;

			&:nth-child(2) {
				border-left: 2px solid hsl(225, 13%, 94%);
				border-right: 2px solid hsl(225, 13%, 94%);
			}

			.stat-text {
				.stat-num {
					font-weight: $fw-700;
					font-size: 1.5625rem;
					margin-bottom: 0.3125rem;
				}

				.stat-text {
					font-size: 1.25rem;
					color: $clr-neutral-300;
				}
			}
		}
	}
}

// Features
.features {
	margin-top: 6.75rem;

	&-container {
		@include grid(2);
		grid-gap: 3rem;

		.features-img {
			padding: 2.25rem;
		}

		.features-text {
			max-width: 57ch;
			justify-self: end;

			.m-heading {
				max-width: 16ch;
			}

			.lead {
				margin-bottom: 1.25rem;
			}

			.feature {
				@include flex($justify: flex-start);
				gap: 0.75rem;
				color: $clr-neutral-300;
				font-size: 0.875rem;

				:not(last-child) {
					margin-bottom: 0.9375rem;
				}
			}
		}
	}
}
