// Import Font
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$max-width: 68.75rem;

$ff: 'Rubik', sans-serif;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$clr-primary: hsl(225, 58%, 10%);
$clr-secondary: hsl(0, 90%, 59%);

$clr-neutral-300: hsla(221, 12%, 35%, 1);
$clr-neutral-700: hsla(219, 12%, 72%, 1);
$clr-neutral-800: hsla(0, 0%, 87%, 1);
$clr-neutral-900: hsla(0, 0%, 97%, 1);
$clr-neutral-1000: hsla(0, 0%, 100%, 1);
