.container {
	max-width: $max-width;
	margin-inline: auto;
	padding-inline: 2rem;
}

// Buttons
.btn {
	font-weight: $fw-500;
	display: inline-block;
	cursor: pointer;
	border: none;
	line-height: 1.185rem;
	padding-inline: 3.93375rem;
	padding-block: 0.8125rem;
}

.btn-primary {
	color: $clr-neutral-1000;
	background-color: $clr-secondary;
	border-radius: 3.125rem;
}

.btn-outline {
	color: $clr-secondary;
	background-color: transparent;
	border: 2px solid $clr-secondary;
	border-radius: 3.125rem;
}

.btn-rectangle {
	color: $clr-neutral-1000;
	background-color: $clr-secondary;
	padding-inline: 4.84375rem;
	padding-block: 1.09375rem;
	border-radius: 0.625rem;
}

// Text
.text-center {
	text-align: center;
}

.lead {
	color: $clr-neutral-300;

	.bold {
		font-weight: $fw-500;
	}
}

.m-heading {
	font-size: 2.1875rem;
	margin-bottom: 1.25rem;
	line-height: 3.125rem;
}

// Checklist Items
.checklist {
	@include flex($justify: flex-start);
	gap: 0.75rem;
	color: $clr-neutral-300;
	font-size: 0.875rem;

	:not(last-child) {
		margin-bottom: 0.9375rem;
	}
}

// Cards
.card {
	background-color: $clr-neutral-1000;
	border: 2px solid $clr-neutral-800;
	border-radius: 10px;
}

.card-active {
	border-color: $clr-secondary;
}
